.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  background-color: #0a1927;
  border-bottom: 1px solid #e5e7eb;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: 600;
  color:  #d5e1ec;;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.dashboard-logo {
  height: 120px;   
  width: 120px;
}

.p-6 {
  padding: 1.5rem; 
}

.max-w-5xl {
  max-width: 64rem; 
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-semibold {
  font-weight: 600;
}

.text-red-600 {
  color: #dc2626; 
}

.mt-2 {
  margin-top: 0.5rem;
}


.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.loading {
  font-style: italic;
  color: #666;
}
