.incident-form-card {
  max-width: 500px;          /* ancho limitado, no ocupa toda la pantalla */
  margin: 2rem auto;         /* centrado con espacio arriba/abajo */
  background-color: #fff;    /* fondo blanco tipo tarjeta */
  padding: 1.5rem;
  border-radius: 12px;       /* bordes redondeados */
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* sombra suave */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.incident-input,
.incident-select {
  padding: 0.6rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.95rem;
  width: 100%;
}

.incident-form-wrapper {
  margin-top: 0.1rem;
  margin-right: 1.2rem;
}

.incident-form-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-primary);
  text-align: left;
  margin-bottom: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.incident-row {
  display: flex;
  gap: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.incident-button {
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.incident-button:hover {
  background-color: #163a6d;
}
